.projects {
  max-width: 1200px;
}

.list {
  list-style: none;
}

.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  -webkit-box-align: center;
  position: relative;
  gap: 10px;
}
.project:not(:last-of-type) {
  margin-bottom: 100px;
}
@media screen and (max-width: 1080px) {
  .project:not(:last-of-type) {
    margin-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .project:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.content {
  position: relative;
  grid-column: 1/7;
  grid-row: 1/-1;
  z-index: 2;
}
@media screen and (max-width: 1080px) {
  .content {
    grid-column: 1/9;
  }
}
@media screen and (max-width: 768px) {
  .content {
    pointer-events: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 30px;
    grid-column: 1/-1;
    z-index: 5;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .content {
    padding: 30px 25px 20px;
  }
}

.content .title {
  font-size: clamp(24px, 5vw, 28px);
  color: #d3d0cb;
  margin: 0px 0px 10px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .content .title {
    margin: 0px 0px 20px;
  }
}

.content .description {
  background-color: #d3d0cb;
  color: #2e5266;
  padding: 25px;
  box-shadow: 0 10px 30px -15px rgba(2, 39, 59, 0.5);
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 2;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .content .description {
    color: #d3d0cb;
    padding: 20px 0px;
    background-color: transparent;
    box-shadow: none;
  }
}

.content .tech {
  margin: 25px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .content .tech {
    padding: 10px 0px;
  }
}
.content .tech li {
  margin: 0px 20px 5px 0px;
  font-size: 13px;
  color: #9fb1bc;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .content .tech {
    margin: 10px 0;
  }
  .content .tech li {
    margin: 0 10px 5px 0;
    color: #d3d0cb;
  }
}

.content .links {
  list-style: none;
  display: flex;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: #d3d0cb;
  pointer-events: auto;
}

.links a {
  display: flex;
  padding: 10px;
}

.content .overline {
  margin: 10px 0px;
  color: #f3db74;
  font-size: 13px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.image {
  grid-column: 6/-1;
  grid-row: 1/-1;
  box-shadow: 10px 30px -15px rgba(2, 39, 59, 0.5);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 1;
  position: relative;
  background-color: #2e5266;
}
@media screen and (max-width: 768px) {
  .image {
    grid-column: 1/-1;
    height: 100%;
    opacity: 0.25;
  }
}

.image img {
  width: 100%;
  max-width: none;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  vertical-align: middle;
  aspect-ratio: 1/0.5;
}
@media screen and (max-width: 768px) {
  .image img {
    filter: grayscale(100%) contrast(1) brightness(50%);
  }
}

.image a {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  background-color: rgb(212, 227, 237);
}
.image a:hover {
  filter: drop-shadow(12px 12px 10px rgb(145, 202, 232)) contrast(95%);
}

.image .container {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  filter: drop-shadow(16px 16px 10px rgba(2, 39, 59, 0.5)) contrast(80%);
}
@media screen and (max-width: 768px) {
  .image .container {
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 320px) {
  .heading {
    font-size: 22px;
  }
}/*# sourceMappingURL=Projects.module.css.map */