$navy: #0a192f;
$green: #64ffda;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$lightest-navy: #233554;
$navy-shadow: rgba(2, 12, 27, 0.7);
$font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
  system-ui, sans-serif;
$font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$fs-xxs: 12px;
$fs-xs: 13px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-heading: 32px;
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
$gradient: no-repeat radial-gradient(#000 68%, #0000 71%);
$border-radius: 4px;
