@use "../../styles/vars.scss";

.contact {
  max-width: 1200px;
  form {
    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    label {
      display: block;
      margin-top: 5px;
    }
    input,
    textarea,
    button[type="submit"] {
      padding: 10px;
      border: 1px solid vars.$american-silver;
      outline: none;
    }
    input {
      max-width: 50%;
    }
    button[type="submit"] {
      min-width: 100px;
      color: vars.$saphire;
      font-weight: 600;
      &:hover {
        background-color: vars.$american-silver;
      }
    }
    textarea {
      min-width: 50%;
      max-width: 100%;
    }
  }
}
