@use "../../styles/vars.scss";
.hidden {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100px;
  z-index: 11;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 20px;
  transition: vars.$transition;
  font-family: vars.$font-mono;
  box-shadow: 0 10px 30px -10px vars.$saphire-shadow;
  background-color: vars.$saphire;
  backdrop-filter: blur(10px);
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      color: vars.$american-silver;
    }
    .links {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        li {
          margin: 0rem 1rem;
        }
      }
      a {
        text-decoration: none;
        color: vars.$american-silver;
        padding: 1rem;
        font-size: vars.$fs-md;
        transition: vars.$transition;
        &:hover {
          color: vars.$lightest-slate;
        }
      }
      .resume {
        margin-left: 15px;
        border: 1px solid vars.$american-silver;
        border-radius: 4px;
      }
    }
  }
}
