.hidden {
  display: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hiddenHeader {
  margin-top: -200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100px;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  box-shadow: 0 10px 30px -10px rgba(2, 39, 59, 0.5);
  background-color: #2e5266;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding-left: 20px;
}
@media screen and (max-width: 780px) {
  .header {
    min-height: 70px;
  }
}
.header .home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3db74;
}
.header .hiddenNav {
  display: none;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0px 50px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (max-width: 1080px) {
  .header .nav {
    padding: 0px 40px;
  }
}
@media screen and (max-width: 860px) {
  .header .nav {
    padding: 0px 20px;
  }
}
.header .nav .navLinks {
  display: flex;
}
.header .nav .navLinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header .nav .navLinks ul li {
  margin: 0px 10px;
}
.header .nav .navLinks a {
  text-decoration: none;
  color: #f3db74;
  padding: 16px;
  font-size: 16px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header .nav .navLinks a:hover {
  color: #d3d0cb;
}
@media screen and (max-width: 1080px) {
  .header .nav .navLinks a {
    padding: 8px;
  }
}
.header .nav .navLinks .resume {
  margin-left: 15px;
  border: 1px solid #f3db74;
  border-radius: 4px;
}
.header .nav .btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .nav .navLinks {
    display: none;
  }
  .header .nav .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: #f3db74;
  }
  .header .hiddenNav {
    display: block;
    -webkit-animation: left-to-right linear 0.2s forwards;
            animation: left-to-right linear 0.2s forwards;
    position: absolute;
    top: 0;
    width: min(40vw, 400px);
    background-color: #2e5266;
    box-shadow: -10px 0px 30px -15px rgba(2, 39, 59, 0.5);
  }
  .header .hiddenNav .navLinks {
    display: none;
  }
  .header .hiddenNav .sideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    height: 100vh;
  }
  .header .hiddenNav .sideMenu button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f3db74;
    background: none;
  }
  .header .hiddenNav .sideMenu .sideMenuLinks {
    text-align: center;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(14px, 4vw, 18px);
    color: #d3d0cb;
  }
  .header .hiddenNav .sideMenu .sideMenuLinks ul {
    list-style: none;
  }
  .header .hiddenNav .sideMenu .sideMenuLinks ul li {
    margin: 0px auto 10px;
  }
  .header .hiddenNav .sideMenu .sideMenuLinks ul li a {
    text-decoration: none;
    padding: 3px 20px 20px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .header .hiddenNav .sideMenu .sideMenuLinks ul li a:hover {
    color: #f3db74;
  }
  .header .hiddenNav .sideMenu .sideMenuLinks .resume {
    padding: 12px 20px;
    margin: 10% auto 0px;
    border: 1px solid #f3db74;
    border-radius: 4px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .header .hiddenNav .sideMenu .sideMenuLinks .resume:hover {
    color: #f3db74;
  }
}
@-webkit-keyframes left-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}
@keyframes left-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=Header.module.css.map */