@use "../../styles/vars.scss";

.work {
  max-width: 900px;
  .inner {
    display: flex;
    gap: 10px;
    min-height: 340px;
    .jobs {
      display: flex;
      flex-direction: column;
      width: max-content;
      .job {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        -webkit-box-align: center;
        border-left: 2px solid vars.$lightest-saphire;
        padding: 0px 20px 2px;
        background-color: transparent;
        color: vars.$slate;
        transition: vars.$transition;
        text-align: left;
        white-space: nowrap;
        &:hover,
        &:active,
        &:focus {
          background-color: vars.$slate;
          color: vars.$saphire;
        }
        &:focus {
          background-color: vars.$lightest-slate;
          border-color: vars.$american-silver;
        }
      }
    }

    .description {
      position: relative;
      width: 100%;
      margin-left: 20px;
      // padding: 10px 5px;
      transition: vars.$transition;
      h3 {
        font-size: vars.$fs-xl;
        font-weight: 500;
        margin-bottom: 2px;
        line-height: 1.3;
        .role {
          font-size: vars.$fs-xxl;
          color: vars.$lightest-slate;
        }
        .company {
          color: vars.$american-silver;
        }
      }
      .range {
        color: vars.$cadet-grey;
        margin-bottom: 20px;
        font-size: vars.$fs-xs;
        font-family: vars.$font-mono;
      }
      ul {
        list-style: none;
        font-size: vars.$fs-lg;
        li {
          padding: 10px 0px 10px 20px;
          &::before {
            content: "▹";
            position: absolute;
            left: 0px;
            color: vars.$american-silver;
          }
        }
      }
    }
    .hidden {
      display: none;
    }
  }
}
